$navbar-default-bg: #312312; 
$light-orange: #ff8c00; 
$navbar-default-color: $light-orange; 

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    margin: 10px 0 10px 0 ;
    float: left;
    font-size: 2em;
    text-transform: uppercase; 
    color: #fff;
    letter-spacing: -1;
    padding-top: 9px;
    font-weight: bold;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}

body {
    padding-top: 80px;
}
.navbar {
    height: 75px;
}

.nav-item {
    margin-left: 25px;
    margin-top: 25px;
    float: left;
}
.center {
    text-align: center; 
}

h1, h2, h3, h4, h5 {
    line-height:1 ;
}

h1 {
    letter-spacing: -2px;
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: black;
    font-weight: normal;
    color: #777;
}

.left {
    text-align: left;
    letter-spacing: .5px;
}

.footer {
    margin-top: 25px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.chef-info {
    margin-top: 20px;
}
.gravatar {
    border-radius: 50px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #EDEDED;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
}

input {
    height: auto !important;
}

span.picture {
    margin-top: 10px;
    input {
        border:0;
    }
}
 
.show_recipe {
 margin: 10px 10px 10px 10px;   
}
